header.dashboard .container {
  text-align: center;
  font-size: 3rem;
  color: white;
  padding: 2rem;
}

header.dashboard .container h1 {
  letter-spacing: 1.1rem;
}

div.dashboard {
  margin-top: 2rem;
}


.answering {
  border-color: rgba(155, 77, 202, 1);
  background-color: rgba(155, 77, 202, 1);
}
.managing {
  border-color: rgba(224, 164, 88, 1);
  background-color: rgba(224, 164, 88, 1);
}
.results {
  border-color: rgba(65, 157, 120, 1);
  background-color: rgba(65, 157, 120, 1);
}

header {
  background-color: rgba(155, 77, 202, 1);
}
header.other {
  background-color: rgba(181, 68, 110, 1);
}
header.answering {
  background-color: rgba(155, 77, 202, 1);
}
header.managing {
  background-color: rgba(224, 164, 88, 1);
}
header.results {
  background-color: rgba(65, 157, 120, 1);
}


table.records td:last-child {
  text-align: right;
}
.answering-list {
  padding-top: 2rem;
}

.card {
  background-color: #eee;
  border-radius: .4rem;
  text-align: center;
  padding: 1rem;
}

.card a.button {
  display: block;
}

.card .title {
  margin: 1rem 0;
}

main.container {
  margin-top: 5rem;

}

header.heading {
  height: 5rem;
  color: white;
  display: block;
  left: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
header.heading section {
  display: flex;
  height: 5rem;
}

header.heading img {
  height: 100%;
}
header.heading .exercise-label {
  margin: auto;
  margin-left: 2rem;
}
header.heading .exercise-title, header.heading .exercise-label a {
  font-weight: bold;
}
header.heading .exercise-label a {
  color: white;
}
header.heading .exercise-label a:hover {
  color: #606c76;
}

.answer i.empty {
  /*color: rgba(225, 111, 124, 1);*/
  color: rgba(244, 88, 102, 1);
}

.answer i.short {
  color: rgba(65, 157, 120, 1);
  /*
  rgba(193, 174, 124, 1);
  rgba(90, 113, 106, 1);
  rgba(224, 164, 88, 1);
  */
}

.answer i.filled {
  color: rgba(65, 157, 120, 1);
}

dl.answer dt {
  font-weight: bold;
}

div.field,
div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

label {
  display: block;
}

input {
  background-color: transparent;
  border: 0.1rem solid #d1d1d1;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: .6rem 1.0rem;
  width: 100%;
}
input:focus {
  border-color: rgba(155, 77, 202, 1);
  outline: 0;
}
input[type="submit"] {
   width: fit-content;
 }
.doubleIcons {
  display: flex;
  flex-direction: column;
  padding: 1px;
}
.doubleIcons a {
  height: 20px;

}
form.icon-form {
  display: inline-block;
}
form.icon-form button {
  padding: 0;
  border: none;
  cursor: pointer;
}
form.icon-form i {
  font-size: 16px;
  color: white;
}

button.no-css {
  background-color: white;
  border: none;
  padding: 0;
}
form.icon-form i.purple{
  color: rgba(155, 77, 202, 1);
}

form.icon-form i.purple:hover {
  color: #606c76;
}
